/* Main page with stikky-footer
-------------------------------------------------- */
html,
body {
  height: 100%;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  /* The html and body elements cannot have any padding or margin. */
  border-top: 3px solid #27A822;
}
/* Wrapper for page content to push down footer */
#wrap {
  padding-bottom: 50px;	
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -65px;
  /* Pad bottom by footer height */
  /*padding: 0 0 60px;*/
}

/* Navbar
-------------------------------------------------- */

.navbar {
  margin-bottom: 10px;
  background-color: #ffffff;
}
.navbar .navbar-brand,
.navbar .nav-link {
  color: #6b6b6b;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #6b6b6b;
}

/* Custom page CSS
-------------------------------------------------- */

.container {
  width: auto;
  max-width: 800px;
  text-align: center;
}
.container .text-muted {
  margin: 20px 0;
}
.container a {
  color: #27A822;
}
.container a:hover {
  color: #267723;
}
.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}
.card h4 {
  text-align: left;
  line-height: 24px;
  font-size: 22px;
}
.card h5 {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}
.card h6 {
  font-size: 15px;
}
.card h4 a,
.card h5 a {
  color: #27A822;
}
.card h4 a:hover,
.card h5 a:hover {
  color: #267723;
}
.card {
  border: none;
}
.card-body {
  padding-top: 0;
  text-align: left;
}
.social {
  padding-top: 12px;
  word-spacing: 25px;
}
.social h4 > a {
  color: #000000;
}
.avatar {
  padding-top: 5%;
}
.blog-post{
  padding-top: 15px;
}
.blog-title{
  padding-top: 2px;
}
.related-posts h4 {
  text-align: center;
}
.page-not-found {
  padding-top: 20%;
}
.disqus {
  padding-bottom: 15px;
}

.blogpost{
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}

/* Footer 
-------------------------------------------------- */

.footer {
  text-decoration: none !important;
}
.text-muted {
	color: #6b6b6b;
}
div.footer{
  border-bottom: 5px solid #27A822;;
}
/* Set the fixed height of the footer here */
/*.footer {
  height: 50px;
  padding-bottom: 15px;
  
}*/
